<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title | escape }} | {{ site.title | escape }}</title>
    <link rel="stylesheet" href="{{ site.base_url }}/assets/water.min.css">
    <link rel="stylesheet" href="{{ site.base_url }}/assets/site.css">
  </head>
  <body>
    <div id="site-nav">
      <a href="{{ site.base_url }}/">All posts</a>
      |
      <a href="{{ site.base_url }}/rss.xml">RSS</a>
      |
      <a href="https://github.com/fluffysquirrels/blog">Source</a>
    </div>
    <h2>fluffysquirrels</h2>
    <p>
      Alex Helfet's personal blog
    </p>
    {{ common_content }}
  </body>
</html>
